<app-bounce-animation showBounceIn="true" text="hola" image="assets/image.jpg"></app-bounce-animation>
<b>Possible options:</b> showBounceIn, showBounceOut, showBounceInDown, showBounceOutDown, showBounceInUp, showBounceOutUp, showBounceInLeft, showBounceOutLeft, showBounceInRight, showBounceOutRight with the values true or false.
<app-fade-animation showFadeIn="true" text="hola" image="assets/image.jpg"></app-fade-animation>
<b>Possible options:</b> showFadeIn, showFadeOut, showFadeInDown, showFadeOutDown, showFadeOutUp, showFadeOutUpBig, showFadeInUp, showFadeInDownBig, showFadeOutDownBig, showFadeInUpBig, showFadeInRightBig, showFadeOutLeftBig, showFadeInLeft, showFadeInLeftBig, showFadeInRight, showFadeOutLeft, showFadeOutRight, showFadeOutRightBig with the values true or false.
<app-flip-animation showFlip="true" text="hola" image="assets/image.jpg"></app-flip-animation>
<b>Possible options:</b> showFlip, showFlipInX, showFlipOutX, showFlipInY, showFlipOutY with the values true or false.
<app-others-animation showFlash="true" text="hola" image="assets/image.jpg"></app-others-animation>
<b>Possible options:</b> showFlash, showPulse, showRubberBand, showLightSpeedInRight, showLightSpeedOutRight, showLightSpeedInLeft, showLightSpeedOutLeft, showShake, showSwing, showTada, showWobble with the values true or false.
<app-roll-animation showRollIn="true" text="hola" image="assets/image.jpg"></app-roll-animation>
<b>Possible options:</b> showRollIn, showRollOut with the values true or false.
<app-rotate-animation showRotateIn="true" text="hola" image="assets/image.jpg"></app-rotate-animation>
<b>Possible options:</b> showRotateIn, showRotateInDownLeft, showRotateInDownRight, showRotateInUpLeft, showRotateInUpRight, showRotateOutDownLeft, showRotateOutDownRight, showRotateOutUpLeft, showRotateOutUpRight, showRotateOut with the values true or false.
<app-zoom-animation showZoomIn="true" text="hola" image="assets/image.jpg"></app-zoom-animation>
<b>Possible options:</b> showZoomIn, showZoomOutDown, showZoomOutUp, showZoomOutRight, showZoomOutLeft, showZoomInDown, showZoomInLeft, showZoomInRight, showZoomInUp, showZoomOut with the values true or false.